{{> dear }}
<strong
  style="
    margin-left: 20px;
  "
>
  {{ delivererName }}
</strong><br />

<p>Uma encomenda sua acaba de ser cancelada no sistema.<p>
<div
 style="
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgrey;
  "
>
  <strong>Encomenda: {{ product }} </strong><br />
  <strong>Cancelada em: {{ hour }} </strong>
</div>
